.button {
	-moz-box-shadow: inset 0px -1px 0px 0px #a8a8a8;
	-webkit-box-shadow: inset 0px -1px 0px 0px #a8a8a8;
	box-shadow: inset 0px -1px 0px 0px #a8a8a8;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f2f2f2), color-stop(1, #e2e2e2));
	background: -moz-linear-gradient(top, #f2f2f2 5%, #e2e2e2 100%);
	background: -webkit-linear-gradient(top, #f2f2f2 5%, #e2e2e2 100%);
	background: -o-linear-gradient(top, #f2f2f2 5%, #e2e2e2 100%);
	background: -ms-linear-gradient(top, #f2f2f2 5%, #e2e2e2 100%);
	background: linear-gradient(to bottom, #f2f2f2 5%, #e2e2e2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#e2e2e2',GradientType=0);
	background-color: #f2f2f2;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	border: 1px solid #e5e5e5;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	cursor:pointer;
	color:#000000;
	font: 14px/14px Verdana;
	padding:6px 16px;
	text-decoration:none;
	outline:0;
	white-space:nowrap;
	word-wrap:normal;
	vertical-align:middle;
	*overflow:visible;
	zoom: 1;
	*display: inline;
}
.button:active {
	position: relative;
	top: 1px;
}
.button.small {
	font-size: 11px;
	padding: 4px 12px;
}
.button.big {
	font-size: 22px;
	padding: 10px 24px;
}